beautifulsoup4
Pyrogram
TgCrypto
requests
requests_toolbelt
user_agent
crypto
yt_dlp
https://github.com/ObisoftDev/pyobidl/archive/master.zip
pillow
psutil
pathlib
aiohttp
aiohttp_socks
py7zr
multivolumefile
pathlib
ffmpeg